<div class="login-container text-center">
    <div class="logo mb-3">
        <img src="kexlogo.png" alt="Company Logo" class="logo" width="300">
    </div>
    <h4 class="mb-3">Sign in</h4>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-field">
            <i class="far fa-user"></i>
            <input type="text" formControlName="email" placeholder="Email" class="form-control">
            <small class="text-danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                Enter a valid email.
            </small>
        </div>

        <div class="form-field">
            <i class="fas fa-lock"></i>
            <input type="password" formControlName="password" placeholder="Password" class="form-control">
            <small class="text-danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                Password must be at least 6 characters.
            </small>
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid || submitting">
            {{ submitting ? 'Logging in...' : 'Login' }}
        </button>
    </form>

    <p><a (click)="openForgotPassword()">Forgot Password?</a></p>

       
    
</div>
